<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/semantic.min.js"></script>
    <!-- load the login js if the name is not set i.e. no session -->
    <% if (name == ""){ %>
        <script src="javascripts/login.js"></script>
    <% } else { %>
        <!-- load the logout logic and main page logic if user has a session -->
        <script src="javascripts/home.js"></script>
        <script src="javascripts/navbar.js"></script>
        <!-- Checks if we are looking up a user -->
        <% if (userLookup){ %>
            <script src="javascripts/user.js"></script>
        <% } %>
    <% } %>
    <!-- set the page title dynamically -->
    <title><%= title %><% if (name=="") { %>: login<% } else { %>: Feed <% } %></title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- load the appropriate stylesheets if session -->
    <% if (name == ""){ %>
        <link rel='stylesheet' href='/stylesheets/login.css' />
    <% } else { %>
        <link rel='stylesheet' href='/stylesheets/home.css' />
    <% } %>
</head>
<body>
    <!-- load the navbar -->
    <%= include navbar.ejs %>
    <div class="centered bodyContent">
        <!-- load the login page if no session; load the feed if there is a session or 
                load the user page if it is a userlookup -->
        <% if (name == ""){ %>
            <%= include login.ejs %>
        <% } else if(userLookup) { %>
            <%= include user.ejs %>
        <% } else { %>
            <%= include home.ejs %>
        <% } %>
        <div class="purple-text" id="disclaimer">This site uses cookies, so please don't flip out for some dumb, internet freedom reason.</div>
    </div>
</body>
</html>
